<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

</body>
<script>
//登录页面
function handleLogin(){
  //发请求
  userlogin()
  console.log('跳转到首页')
}
//vuex的user模块
async function userlogin(){
  let token = await login()
  console.log('token', token)
}
//api的user文件
function login(data){
  return request({
    method: "post",
    url: '/login',
    data
  })
}
//axios的request文件
function request(){
  return new Promise((resolve, reject)=>{
    //异步代码
    setTimeout(()=>{
      resolve(interceptorsResponse())
    }, 500)
  })
}
//request的响应拦截器
function interceptorsResponse(response){
  //成功
  return '123456'
}


handleLogin()
</script>
</html>
